<?xml version="1.0"?>
<!--

  Copyright (c) 2011, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="talos" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="talos_leg_simple_transmission" params="side number reduction" >
    <transmission name="leg_${side}_${number}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="leg_${side}_${number}_motor" >
        <mechanicalReduction>${reduction}</mechanicalReduction>
      </actuator>
      <joint name="leg_${side}_${number}_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
    </transmission>
  </xacro:macro>
</robot>

