<launch deprecated="Please use 'upload.launch' instead.">
    <arg name="robot" default="full_v2"/>
    <arg name="foot_collision" default="default"/>
    <arg name="enable_crane" default="false"/>

    <include file="$(find talos_description)/robots/upload.launch">
        <arg name="robot" value="$(arg robot)"/>
        <arg name="foot_collision" value="$(arg foot_collision)"/>
        <arg name="enable_crane" value="$(arg enable_crane)"/>
    </include>
</launch>
