<?xml version="1.0"?>
<!--

  Copyright (c) 2018, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--File includes-->
  <xacro:include filename="$(find talos_description)/urdf/arm/wrist.transmission.xacro" />
  <xacro:include filename="$(find talos_description_calibration)/urdf/calibration/calibration_constants.urdf.xacro" />

  <!-- extensions -->
  <xacro:talos_wrist_simple_transmission name="${name}" side="${side}" number="5" reduction="1.0"
                                         offset_value="${arm_left_5_joint_offset}"/>
  <xacro:talos_wrist_differential_transmission name="${name}" side="${side}" number_1="6" number_2="7"
                                                act_reduction_1="-1.0" act_reduction_2="1.0"
                                                jnt_reduction_1="-1.0" jnt_reduction_2="-1.0"
                                                offset_value_1="${arm_left_6_joint_offset}"
                                                offset_value_2="${arm_left_7_joint_offset}"/>

</robot>
