<?xml version="1.0"?>
<!--

  Copyright (c) 2016, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot name="talos" xmlns:xacro="http://ros.org/wiki/xacro"
        xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
        xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
        xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:include filename="$(find talos_description)/urdf/sensors/ftsensor.urdf.xacro" />
  <xacro:include filename="$(find talos_description)/urdf/leg/leg.urdf.xacro" />
  <xacro:include filename="$(find talos_description)/urdf/leg/foot_collision_$(arg foot_collision).urdf.xacro" />
  <xacro:include filename="$(find talos_description_inertial)/urdf/inertial.xacro" />
  <xacro:include filename="$(find talos_description)/urdf/extras/addons.urdf.xacro" />

    <!--************************-->
    <!--        BASE_LINK       -->
    <!--************************-->
    <link name="base_link">
      <inertial>
        <origin xyz="-0.08222 0.00838 -0.07261" rpy="0.00000 0.00000 0.00000"/>
        <mass value="13.53810"/>
        <inertia ixx="0.06989000000" ixy="-0.00011700000" ixz="0.00023000000"
                 iyy="0.03998200000" iyz="-0.00132500000"
                 izz="0.08234500000"/>
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://talos_description/meshes/torso/base_link.STL" scale="1 1 1"/>
        </geometry>
        <material name="LightGrey" />
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://talos_description/meshes/torso/base_link_collision.STL" scale="1 1 1"/>
        </geometry>
      </collision>
    </link>


  <xacro:talos_leg prefix="left"  reflect="1" />
  <xacro:talos_leg prefix="right" reflect="-1" />

  <!-- Macro to have the add-on links specific to each TALOS -->
  <xacro:talos_addons />

  <!-- Generic simulator_gazebo plugins -->
  <xacro:include filename="$(find talos_description)/gazebo/gazebo.urdf.xacro" />
  <!-- Materials for visualization -->
  <xacro:include filename="$(find talos_description)/urdf/materials.urdf.xacro" />

</robot>
