<?xml version="1.0"?>
<!--

  Copyright (c) 2013, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.

  Calibration values for sensors:

-->
<robot>

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Head-mounted ASUS Xtion Pro Live -->
  <!-- These calibration values affect 2 frames:
         (name)_xtion_ir_optical_frame
         (name)_xtion_rgb_optical_frame              -->
  <xacro:property name="cal_head_mount_xtion_x"     value="0.0" />
  <xacro:property name="cal_head_mount_xtion_y"     value="0.0" />
  <xacro:property name="cal_head_mount_xtion_z"     value="0.0" />
  <xacro:property name="cal_head_mount_xtion_roll"  value="0.0" />
  <xacro:property name="cal_head_mount_xtion_pitch" value="0.0" />
  <xacro:property name="cal_head_mount_xtion_yaw"   value="0.0" />

</robot>


